* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1a1a1a;
  color: #fff;
}
.nav-container {
  margin: 2rem;
}
h2 {
  margin-bottom: 1rem;
}

.nav1 {
  padding: 1rem;
  border: 3px solid #fff;
  box-shadow: 5px 5px 0px #fff;
  background-color: chocolate;
}

.nav1 ul {
  align-items: center;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.nav1 li {
  font-weight: bold;
  display: inline;
}
.nav1 a {
  position: relative;
  color: #fff;
  text-decoration: none;
  background-color: #1a1a1a;
  padding: 0.7rem 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
}
.login-button {
  cursor: pointer;
  padding: 0.7rem 1rem;
  border: 3px solid #1a1a1a;
  border-radius: 1rem;
}
.nav1 a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 3rem;
  bottom: 0.6rem;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  background-color: #ff1c1c;
}
.nav1 a:hover::after {
  transform: scaleY(1);
  background-color: #fff;
}

.nav1,
.nav2,
.nav3 {
  margin-bottom: 3rem;
}

.nav2 {
  background-color: #999999;
  width: 200px;
  padding: 1rem;
  text-align: center;
  box-shadow: 4px 4px 0 #ff1c1c;
}

.nav2 a {
  display: block;
  color: #ff1c1c;
  text-decoration: none;
  padding: 1rem;
  width: 100%;
}

.nav2 ul {
  list-style-type: none;
}
.nav2 li {
  margin-bottom: 1rem;
}

.nav2 a:hover {
  background-color: #fff;
  color: wheat;
}

.nav2 .login-button:hover {
  background-color: #9f4f4f;
  border-color: #c70000;
}

.nav3 {
  background-color: #ff1c1c;
  box-shadow: 4px 4px 0 #fff;
}
.nav3 a {
  text-decoration: none;
  display: block;
  color: #fff;
  padding: 1rem;
}
.nav3 ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav3 .dropdown-content {
  display: none;
}

.nav3 .dropdown:hover .dropdown-content {
  position: absolute;
  display: block;
  background-color: #f87373;
}
